/* The styling sheet for freedom Card! */


@import url('https://fonts.googleapis.com/css2?family=Poly&display=swap');


:root {
    --black: #32353B;
    --bright-red: #ED3726;
    --normal-red: #BA5743;
    --dark-red: #87514C;
    --navy: #304268;
}


/* Media Styling */
@media only screen and (max-width: 580px) {
    #freedom-eagle-logo {max-width: 250px;}
    
    #section-freedom-home {
        margin-top:0px !important;
        text-align: center;
        padding: 0 !important;
    }

    #home-phone {margin-top: 20px;}  

    #freedom-card {display: none;}

    #signup-container {margin-top: 20px;}
}


/* Body Styling */
body {
    background-color: white ;
    font-family: 'Poly', serif;
    color: var(--black);
    .freedom-title {
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 30px;
    
    };
}


/* Navbar Styling */  
#nav-freedom-container {
    max-height: 155px;
    #navbarUnderline a {
        text-decoration: none;
        color: var(--normal-red);
    };
    #freedom-eagle-logo {
        max-width: 300px;
        max-height: auto;
    }
}
    

/* Home Section */
#section-freedom-home {
    margin-top: 50px;
    color: var(--black);
}

#home-information-tab {
    background: var(--navy);
    padding: 20px;
    border-radius: 20px;
    color: white;
    p {font-weight: 700;};
    button {
        border: 1px white solid; 
        background-color: white; 
        padding: 10px; 
        border-radius: 15px; 
        color: var(--navy); 
        font-family: inherit;
    };
    button:hover {border-color: lightgrey; background-color: lightgrey;}
}

#section-freedom-signup {
    background-color: var(--dark-red);
    #signup-container {
        color: var(--black);
        background-color: white;
        border: 1px white solid;
        border-radius: 10px;
    };
    #signup-button {
        border: 1px var(--navy) solid; 
        background-color: var(--navy); 
        padding: 10px 20px; 
        border-radius: 15px; 
        color: white; 
        font-family: inherit;
    };
    input {font-family: inherit;}
    
}